/*html, body{height: 100%;}*/

*{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 80px; 
    height: 80px; 
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
}

#logged-user-top-message{
    /*height: 10px;*/ 
    text-align: right;
    font-size: 12px;
    float: right;
    margin-right: 10px;
    color: white;
    text-shadow:#000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px;
}

.logged-user .ui-button{
    background: none !important;
    padding: 0px !important;
    border: 0px !important;
    font-size: 12px;
    color: white;
    text-shadow:#000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px;
}

header{
    position: relative;
    width: 100%;
    margin-bottom: 10px; 
    height: 100px; 
    background-color: #00B2E4;
    color: white; 
    /*box-shadow: 0px 3px 3px #ccc;*/
}

body{
    font-size: 13px;
    background-color: #00B2E4;
}

.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

.menu{
    float: left;
    position: fixed;
    left: 0;
    width: 180px;
    margin-left: 5px;
}

.content{
    left: 0;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#bottom{
    color: darkcyan;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    font-size: 10px;
}

footer {
    position: fixed;
    padding: 0px;
    margin-bottom: 1px;
    color: white;
    height: 20px;
    width: 100%;
    bottom: 0;
    border: 1px;
    border-radius: 5px;
    background-color: #00B2E4;
}

.main-screen-button{
    border: 1px solid whitesmoke;
    width: 100px;
    height: 100px;
    border-radius: 7px;
}
